
/* image https://unsplash.com/es/fotos/un-fondo-abstracto-rosa-y-azul-con-cuadrados-o8JeBZGqfSc */
body {
    background: url(images/steve-a-johnson-o8JeBZGqfSc-unsplash.jpg);
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}


.container {
    display: flex;
    width: 300px;
    height: 500px;
    flex-direction: column;
    border: #1a1a1a 2px;
    border-radius: 15px;
    overflow: hidden;
}


.display {
    display: flex;
    height: 110px;
    background-color: #1a1a1a;
    color: white;
    font-size: 40px;
    justify-content: flex-end;
    padding: 10px;
    align-items: center;
}


.button {
    display: flex;
    align-items: center;
    width: 100%;  
    /* height: 60px; */
    background-color: aqua;
    justify-content: center;
}

.button-igual {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;  
    background-color: aqua;
    font-size: 1.5rem;
    grid-column: span 4;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 100%;
    cursor: pointer;
}

