/* The design needs improvement—perhaps the background and buttons. The code could likely be improved, too. But enjoy it. */
/* image https://unsplash.com/es/fotos/un-fondo-abstracto-rosa-y-azul-con-cuadrados-o8JeBZGqfSc */
body {
    background: url(images/steve-a-johnson-o8JeBZGqfSc-unsplash.jpg);
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}


.container {
    display: flex;
    width: 300px;
    height: 500px;
    flex-direction: column;
    border: #1a1a1a 2px;
    border-radius: 15px;
    overflow: hidden;
}


.display {
    display: flex;
    height: 110px;
    font-size: 40px;
    justify-content: flex-end;
    padding: 10px;
    align-items: center;
    background: rgba(255, 255, 255, 0.301);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(16px);
    border: 1px solid rgba(255, 255, 255, 0.06);
    box-shadow: 0 24px 48px rgba(0, 0, 0, 0.2);
    transition: transform 0.25s ease;
}


.button {
    display: flex;
    align-items: center;
    width: 100%;  
    background: rgba(255, 255, 255, 0.301);
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    border: 1px solid rgba(255, 255, 255, 0.06);
    box-shadow: 0 24px 48px rgba(0, 0, 0, 0.2);
    transition: transform 0.25s ease;
    justify-content: center;
    font-weight: 600;
    font-size: 20px;
}

.button-igual {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;  
    background: rgba(128, 211, 226, 0.973);
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    box-shadow: 0 24px 48px rgba(0, 0, 0, 0.2);
    font-size: 1.5rem;
    grid-column: span 4;
    font-weight: 600;

}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 100%;
    cursor: pointer;
}

